<!DOCTYPE html>
<html lang="ko">

<head>
    <title>메인 게시판화면</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
    img{
        width: 50%; 
        height: auto;
    }
    button{
        float: right;
    }

    </style>
</head>

<body>
    <div class="container">
        <h2>IDOL</h2>
        <p>상세 게시판 입니다.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>제목</th>
                </tr>
                   
            </thead>
            <tbody>
                <tr>
                    <td><%= test[0].user %></td>
                </tr>
                    <tr><td><%= test[0].memo %></td></tr>
                    <tr>
                    <td><img src= "data:image/jpg;base64,<%= new Buffer(test[0].image,'binary').toString("base64") %>"></td>
                </tr>
              
            </tbody>
        </table>
    </div>
    <div class="container">
            <h4>Comments(<%= test?test.length:"0" %>)</h4>
            <% test.forEach(function(comments){ %>              
                <blockquote class="blockquote">
                        <p class="mb-0"><%= comments.comment %></p>
                    <form class="delete"  method="post">
                        <button type="button"onclick="confirm('Your comment will be deleted')?this.parentElement.submit():null;">
                        x
                        </button>
                    </form>
                </blockquote>
                  <% })%>
                <form action="/posts/<%= test[0].reviewid %>/comments" method="post"> 
                <textarea id="form7" class="md-textarea form-control" rows="3" type="text" id="memo" name="memo" cvRqErrMsg="comments is empty." cvRqErrTo="#cvErrTitle"
                  placeholder="Add comment here:Please login to make a comment">
                </textarea>
                <br>
                <button type="submit" class="btn btn-success">Comments</button>
                 
            </form>     
            
          </div>
</body>
</html>