<!DOCTYPE html>
<html lang="en">

<head>
    <title>게시판글 수정</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        img{
                width: 50%; 
                height: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>게시글 수정</h2>
        <p><%= data.reviewid %></p>
        <form action="/edit/<%= data.reviewid %>" method="POST">
            <div class="form-group">
                <label for="user">제목</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= data.user %>">
            </div>
            <div class="form-group">
                <label for="memo">내용</label>
                <input type="text" class="form-control" id="memo" name="memo" value="<%= data.memo %>">
            </div>
            <div class="form-group">
                <label for="image">이미지</label>
                <img src= "data:image/jpg;base64,<%= new Buffer(data.image,'binary').toString("base64") %>">        
                <input type="file" class="form-control" accept="image/*" name="image" placeholder="3M 미만" >
            </div>
            <button type="submit" class="btn btn-success">삽입하기</button>
        </form>
    </div>
</body>
</html>